.names{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #2ea3dd;
    font-size: 40px;
    text-align: center;
    border: 3px solid #e0ded2;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    box-shadow: 2px 2px 2px #2ea3dd;
  }